# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build
doc
dlibs.kdev4
*.zip
logo-old.png
tests/make.sh
tests/template.*
*.kate-swp
tux-old.png
